.grid-container {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 10px;
  grid-template-areas:
    "trip-data trip-data todos"
    "trip-data trip-data todos"
    "posts posts todos"
}

.trip-data {
  grid-area: trip-data;

  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.115) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.115) 1px, transparent 1px);

}

.images {
  grid-area: images;
  width: 100%;
}

.posts {
  grid-area: posts;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden scroll;
  justify-content: flex-start;
  overflow: hidden scroll;
  align-items: baseline;

  .post {
    width: 25em;
    margin: 1em;
  }
}

.todos {
  grid-area: todos;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  overflow: hidden scroll;
}
