.grid-container {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 10px;
  grid-template-areas:
    "trip-data todos posts"
    "trip-data todos posts"
    "images todos posts"
}

.trip-data {
  grid-area: trip-data;
}

.images {
  grid-area: images;
  width: 100%;
}

.posts {
  grid-area: posts;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden scroll;
}

.todos {
  grid-area: todos;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden scroll;
}
