<ng-container *ngIf="currentUser$ | async as user; then memberTemplate; else loginButton"></ng-container>

<a routerLink="/members">Members</a>

<ng-template #loginButton>
  <button (click)="signInWithGoogle()" class="btn btn-lg btn-primary">
    Sign In With Google <i class="fa fa-google ml-3"></i>
  </button>
</ng-template>

<ng-template #memberTemplate let-user>
  <div class="card">
    <div class="card-body">
        <img [src]="user.image_url">
        <h5 class="card-title">{{user.display_name}}</h5>
    </div>
    <button (click)="signOut()" class="btn btn-lg btn-outline-danger">
      Sign Out <i class="fa fa-google ml-3"></i>
    </button>
  </div>
</ng-template>








